<div *ngIf="user$ | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
  <ng-container *ngIf="data$ | async as data">
    <div *ngFor="let d of data">{{ d.arc }}</div>
  </ng-container>
  <input type="file" (change)="uploadFile($event)" />
  <div *ngIf="uploadPercent$ | async as p">
    <ng-container *ngIf="p !== 100">
      {{ uploadPercent$ | async | number }}%
    </ng-container>
  </div>
  <ul *ngIf="filesRefs$ | async as files">
    <li *ngFor="let file of files">{{file.ref}}</li>
  </ul>
  <ng-container *ngIf="img$ | async as src">
    <img [src]="src" alt="">
  </ng-container>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<p *ngIf="this.error">{{ this.error }}</p>
